<div class="duration_widget">
    <!--Input for hours-->
    <div class="inline_block">
        <input type="text" ng-model="hour" class="duration_widget_input tm_hour_input" />
    </div>
    <div class="inline_block">
        h<span ng-show="hour>1">s</span>
    </div>
    <!--Input for minutes-->
    <div class="inline_block">
        <input type="text" ng-model="minute" class="duration_widget_input tm_min_input" />
    </div>
    <div class="inline_block">
        min<span ng-show="minute>1">s</span>
    </div>
</div>